<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-2">

    <h1> Gradebook </h1>

    <%= link_to 'Login', login_path %>

  </div>
</div>
